.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  background-color: lightgray;
  border-bottom: 1px solid orange;
}
.logo-style {
  width: 4rem;
  cursor: pointer;
}
.brand-name {
  font-size: 2rem;
}
.mode-toggle-icon {
  font-size: 2rem;
  cursor: pointer;
}
